/* * { border: 1px solid #f00; } */
.Wrap { } 

.container { display: flex; width: 1200px; margin: 0 auto; } 
.inner { width: 1200px; margin: 0 auto; } 

header { position: relative; } 
header .logo { background: #da291c; padding: 30px 0 60px 0; width: 100%; } 
header .logo h2 { width: 200px; margin: 0 auto; font-size: 0; } 

header .gnb { position: absolute; inset: auto auto -50% 50%; transform: translate(-50%, -30%); justify-content: space-evenly; line-height: 80px; background: #fff; border-radius: 10px; box-shadow: 0 0 3px #999; text-transform: uppercase; font-weight: 500; z-index: 999; } 
header .gnb::after { display: block; position: absolute; inset: 70px auto auto 0; content: ""; width: 1200px; height: 0; border-radius: 0 0 10px 10px; background: #fff; z-index: -999; transition: 0.5s; } 

header .gnb.hover::after { height: 100%; width: 100%; padding:0 0 150px 0; } 

header .gnb.on { position: fixed; inset: 0 auto auto 50%; transform: translateX(-50%); background: #da291c; color: #fff; border-radius: 0 0 10px 10px; } 
header .gnb.on::after { background: #da291c; } 

header .gnb .left>li { position: relative; cursor: pointer;} 
header .left { display: flex; gap: 70px; }
 
header .right { display: flex; gap: 20px; padding: 0 0 0 70px; } 
header .smenu { display: none; position: absolute; inset: 80px auto auto 50%; transform: translateX(-50%); line-height: 1.5; font-size: 12px; font-weight: 300; z-index: 999; border-radius: 10px; height: 100%; width: 100%; } 


header .right i { font-size: 21px; vertical-align: middle; } 

.mainVisual .video { height: calc(100vh - 140px); } 

.mainSlider { padding: 200px 0; } 
.mainSlider h2 { text-align: center; font-family: 'Poiret One', cursive; font-size: 41px; } 
.mainSlider span { display: block; transform: translateY(-100px); opacity: 0; transition: 1.5s; } 
.mainSlider span.on { transform: translateY(0); opacity: 1; } 
.mainSlider h2::after { content: ""; display: block; width: 0; height: 1px; background: #da291c; margin: 20px auto; transition: 1.5s; } 
.mainSlider h2.on::after { width: 100px; } 
.mainSlider p { margin: 0 0 30px 0; text-align: center; font-weight: 300; opacity: 0; transition: 2.5s; } 
.mainSlider p.on { margin: 0 0 30px 0; text-align: center; font-weight: 300; opacity: 1; } 

.slider figure { margin: 0 15px; width: 300px; height: 250px; opacity: 0; } 
.slider figure:nth-child(1) { transition: 1.5s 0.5s ; } 
.slider figure:nth-child(2) { transition: 1.5s 1s; } 
.slider figure:nth-child(3) { transition: 1.5s 1.5s; } 
.slider figure:nth-child(4) { transition:1.5s 2s; } 
.slider figure.on { transform: rotateY(360deg); opacity: 1; } 
.slider .brand01 { background: url(../img/brand_img10.jpg) no-repeat center center/cover; } 
.slider .brand02 { background: url(../img/painting-336024_1920.jpg) no-repeat center center/cover; filter: grayscale(1); } 
.slider .brand03 { background: url(../img/brand_img09.jpg) no-repeat center center/cover; } 
.slider .brand04 { background: url(../img/brand_img05.jpg) no-repeat center center/cover; } 

.fixedBg .fixed { padding: 150px 0; background: url(../img/main_supporters.jpg) no-repeat center center/cover; background-attachment: fixed; color: #fff; } 
.fixedBg h2 { font-size: 31px; margin: 0 0 10px 0; font-weight: 500; } 
.fixedBg h2 strong { font-family: 'Poiret One', cursive; font-weight: 900; } 
.fixedBg p { font-size: 15px; font-weight: 300; } 

.product { padding: 100px 0; position: relative; } 
.product .inner { width: 1230px; position: relative; overflow: hidden; }
.product h2 { font-family: 'Poiret One', cursive; text-align: center; font-size: 41px; color: #da291c; margin: 0 0 50px 0;} 
.product .inner>ul { display: flex; justify-content: center; margin: 0 0 50px 0; } 

.product .tMenu li { position: relative; width: 200px; padding: 10px 0; text-align: center; border-bottom: 2px solid #f1f1f1; color: #ccc; font-size: 19px; font-weight: 500; cursor: pointer; }
.product .tMenu li::after { position: absolute; inset: auto auto -2px 0; content: ""; display: block; width: 0; height: 2px;background: #f1f1f1; transition: 0.5s; } 
.product .tMenu li.on::after{ width: 100%; background: #da291c}
.product .tMenu li.on { color: #333;} 
.pSlider figure { width: 380px; height: 500px; margin: 0 0 30px 0; } 
.pSliderWrap { margin: 0 15px; overflow: hidden; } 
.pSlider { display: none; } 
.pSlider.on { display: block; } 

.pSliderWrap h3 { font-size: 21px; font-weight: 500; margin: 0 0 10px 0; } 
.pSliderWrap p { font-weight: 300; margin: 0 0 30px 0; } 
.pSliderWrap strong { font-weight:700; font-size: 19px; } 

.color .c01 { background: url(../img/pablo120_1.jpg) no-repeat center center/cover; } 
.color .c02 { background: url(../img/neopastel96_1.jpg) no-repeat center center/cover; } 
.color .c03 { background: url(../img/studio_gouache_cake15_1.jpg) no-repeat center center/cover; } 
.color .c04 { background: url(../img/Luminance_portrait20_1.jpg) no-repeat center center/cover; } 
.color .c05 { background: url(../img/neocolor1_2_woodenbox_1.jpg) no-repeat center center/cover; } 

.writing .w01 { background: url(../img/Ink_Bottles_1.jpg) no-repeat center center/cover; } 
.writing .w02 { background: url(../img/Converter_K9_1.jpg) no-repeat center center/cover; } 
.writing .w03 { background: url(../img/Cartridge_FP_1.jpg) no-repeat center center/cover; } 
.writing .w04 { background: url(../img/Ink_Bottles_1.jpg) no-repeat center center/cover; } 
.writing .w05 { background: url(../img/Converter_K9_1.jpg) no-repeat center center/cover; } 


.pArrows { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); font-size: 41px; z-index: 999; } 

.pArrows .left { transform: translateX(-650px); } 
.pArrows .right { transform: translateX(650px); } 

