/* * { border: 1px solid rgb(255, 179, 179); } */
.Wrap { } 

.container { display: flex; width: 1200px; margin: 0 auto; } 
.inner { width: 1200px; margin: 0 auto; } 

header { position: relative; } 
header .logo { background: #da291c; padding: 30px 0 60px 0; width: 100%; } 
header .logo h1 { width: 200px; margin: 0 auto; font-size: 0; } 

header .gnb { position: absolute; inset: auto auto -50% 50%; transform: translate(-50%, -30%); justify-content: space-evenly; line-height: 80px; background: #fff; border-radius: 10px; text-transform: uppercase; font-weight: 500; z-index: 999; } 
header .gnb::after { display: block; position: absolute; inset: 70px auto auto 0; content: ""; width: 1200px; height: 0; border-radius: 0 0 10px 10px; background: #fff; z-index: -999; transition: 0.5s; } 

header .gnb.hover::after { height: 100%; width: 100%; padding:0 0 150px 0; } 

header .gnb.on { position: fixed; inset: 0 auto auto 50%; transform: translate(-50%, -100%); background: #da291c; color: #fff; border-radius: 0 0 10px 10px; } 
header .gnb.on::after { background: #da291c; } 
header .gnb.down { transform: translate(-50%, 0); transition: 0.5s ease } 

header .gnb .left>li { position: relative; cursor: pointer; } 
header .left { display: flex; gap: 70px; } 

 
header .right { display: flex; gap: 20px; padding: 0 0 0 70px; justify-content: right; } 
header .smenu { position: absolute; inset: 80px auto auto 50%; transform: translateX(-50%); line-height: 1.5; font-size: 12px; font-weight: 300; z-index: 999; border-radius: 10px; height: 100%; width: 100%; visibility:hidden; } 

header .left:hover li .smenu { visibility: visible; transition: 1.5s 0.3s; } 

header .right i { font-size: 21px; vertical-align: middle; } 

.mainVisual .video { height: calc(100vh - 140px); } 

.mainSlider { padding: 170px 0; } 
.mainSlider h2 { text-align: center; font-family: 'Poiret One', cursive; font-size: 41px; } 
.mainSlider span { display: block; transform: translateY(-100px); opacity: 0; transition: 1.5s; } 
.mainSlider span.on { transform: translateY(0); opacity: 1; } 
.mainSlider h2::after { content: ""; display: block; width: 0; height: 1px; background: #da291c; margin: 20px auto; transition: 1.5s; } 
.mainSlider h2.on::after { width: 150px; } 
.mainSlider p { margin: 0 0 30px 0; text-align: center; font-weight: 300; opacity: 0; transition: 2s 0.5s; } 
.mainSlider p.on { margin: 0 0 30px 0; text-align: center; font-weight: 300; opacity: 1; } 

.slider figure { margin: 0 15px; width: 0; height: 300px; opacity: 0; transition: 1s 0.5s; } 

.slider figure.on { width: auto; opacity: 1; transform: rotateY(180deg); } 

.slider .brand01 { background: url(../img/brand_img10.jpg) no-repeat center center/cover; } 
.slider .brand02 { background: url(../img/painting-336024_1920.jpg) no-repeat center center/cover; filter: grayscale(1); } 
.slider .brand03 { background: url(../img/brand_img09.jpg) no-repeat center center/cover; } 
.slider .brand04 { background: url(../img/brand_img05.jpg) no-repeat center center/cover; } 

.fixedBg .fixed { padding: 150px 0; background: url(../img/main_supporters.jpg) no-repeat center center/cover; background-attachment: fixed; color: #fff; } 
.fixedBg h2 { font-size: 31px; margin: 0 0 10px 0; font-weight: 500; } 
.fixedBg h2 strong { font-family: 'Poiret One', cursive; font-weight: 900; } 
.fixedBg p { font-weight: 300; } 

.product { padding: 100px 0; position: relative; } 
.product .inner { width: 1230px; position: relative; overflow: hidden; } 
.product h2 { font-family: 'Poiret One', cursive; text-align: center; font-size: 43px; color: #da291c; margin: 0 0 50px 0; } 
.product .inner>ul { display: flex; justify-content: center; margin: 0 0 50px 0; } 

.product .tMenu li { position: relative; width: 200px; padding: 10px 0; text-align: center; border-bottom: 2px solid #f1f1f1; color: #ccc; font-size: 17px; font-weight: 500; cursor: pointer; } 
.product .tMenu li::after { position: absolute; inset: auto auto -2px 0; content: ""; display: block; width: 0; height: 2px; background: #f1f1f1; transition: 0.5s; } 
.product .tMenu li.on::after { width: 100%; background: #da291c } 
.product .tMenu li.on { color: #333; } 

.pSlider figure { width: auto; height: 400px; margin: 0 0 30px 0; } 

.pSliderWrap { margin: 0 15px; overflow: hidden; } 
.pSlider { display: none; } 
.pSlider.on { display: block; } 

.pSliderWrap h3 { font-size: 19px; font-weight: 500; margin: 0 0 10px 0; } 
.pSliderWrap p { font-weight: 300; margin: 0 0 15px 0; } 
.pSliderWrap strong { font-weight:500; font-size: 17px; color: #da291c; } 

.color .c01 { background: url(../img/pablo120_1.jpg) no-repeat center center/cover; } 
.color .c02 { background: url(../img/neopastel96_1.jpg) no-repeat center center/cover; } 
.color .c03 { background: url(../img/studio_gouache_cake15_1.jpg) no-repeat center center/cover; } 
.color .c04 { background: url(../img/Luminance_portrait20_1.jpg) no-repeat center center/cover; } 
.color .c05 { background: url(../img/neocolor1_2_woodenbox_1.jpg) no-repeat center center/cover; } 

.writing .w01 { background: url(../img/Ink_Bottles_1.jpg) no-repeat center center/cover; } 
.writing .w02 { background: url(../img/Converter_K9_1.jpg) no-repeat center center/cover; } 
.writing .w03 { background: url(../img/Cartridge_FP_1.jpg) no-repeat center center/cover; } 
.writing .w04 { background: url(../img/Ink_Bottles_1.jpg) no-repeat center center/cover; } 
.writing .w05 { background: url(../img/Converter_K9_1.jpg) no-repeat center center/cover; } 

.fWriting .f01 { background: url(../img/844MP_Classic_red_list.jpg) no-repeat center center/cover; } 
.fWriting .f02 { background: url(../img/EcridorMP_Golf_list.jpg) no-repeat center center/cover; } 
.fWriting .f03 { background: url(../img/Natura_list.jpg) no-repeat center center/cover; } 
.fWriting .f04 { background: url(../img/844MP_Classic_red_list.jpg) no-repeat center center/cover; } 
.fWriting .f05 { background: url(../img/EcridorMP_Golf_list.jpg) no-repeat center center/cover; } 
.fWriting .f06 { background: url(../img/Natura_list.jpg) no-repeat center center/cover; } 


.lEdition .l01 { background: url(../img/83f6b17d15ecd3ab6eef002182b11a53.jpg) no-repeat center center/cover; } 
.lEdition .l02 { background: url(../img/82f7b39d79e3ddf0caec1fdbb22fe71b.jpg) no-repeat center center/cover; } 
.lEdition .l03 { background: url(../img/82f7b39d79e3ddf0caec1fdbb22fe71b.jpg) no-repeat center center/cover; } 
.lEdition .l04 { background: url(../img/83f6b17d15ecd3ab6eef002182b11a53.jpg) no-repeat center center/cover; } 
.lEdition .l05 { background: url(../img/82f7b39d79e3ddf0caec1fdbb22fe71b.jpg) no-repeat center center/cover; } 
.lEdition .l06 { background: url(../img/83f6b17d15ecd3ab6eef002182b11a53.jpg) no-repeat center center/cover; } 

.pArrows { position: absolute; inset: 52% auto auto 50%; transform: translate(-50%, -50%); font-size: 57px; z-index: 999; color: #999; padding: 5px; } 

.pArrows .left:hover { color: #da291c; transition: 0.5s; } 
.pArrows .right:hover { color: #da291c; transition: 0.5s; } 

.pArrows .left { transform: translateX(-650px); } 
.pArrows .right { transform: translateX(650px); } 

.footer { text-transform: uppercase; border-top: 1px solid #ddd; } 

.footer .top { padding: 50px 0; gap: 200px; } 
.footer .tmenu { display: flex; gap: 150px; } 
.footer .tmenu h3 { margin: 0 0 10px 0; padding: 5px 0 0 0; font-weight: 700; } 
.footer .tmenu dt::before { content: ""; display: block; width: 100px; height: 2px; background: #da291c; } 
.footer .top h2 { width: 200px; } 
.footer .top .left .copy { font-size: 12px; font-weight: 300; } 

.footer h3 { font-weight: 500; } 
.footer .top .right { display: flex; font-size: 19px; } 
.footer .top .service { display: flex; gap: 150px; } 
.footer .smenu { font-size: 15px; } 
.sns { display: flex; gap: 5px; } 
.sns i { font-size: 21px; align-items: center; } 


.footer .bottom { padding: 20px 0; background: #da291c; color: #fff; } 
.footer .bottom .container { justify-content: space-between; } 
.footer .bottom .menu { display: flex; font-size: 13px; font-weight: 300; vertical-align: middle; } 
.footer .bottom dd~dd::before { content: ""; display: inline-block; width: 1px; height: 7px; background: #f1f1f1; margin: 0 10px; } 
.footer .bottom p { font-size: 12px; } 

.mbtn i { display: none; position: fixed; inset: 10px 10px auto auto; color: #fff; font-size: 15px; z-index: 1000; padding: 10px; background: rgba(0, 0, 0, 0.2); border-radius: 50%; cursor: pointer; } 

@media (max-width:1000px){
 .container { display: flex; width: auto; margin: 0 auto; } 
.inner { width: auto; margin: 0 auto; } 

header { position: static; overflow: hidden; } 
header .logo { background: #da291c; padding: 30px 0 30px 0; width: 100%; } 
header .logo h1 { width: 200px; margin: 0 auto; font-size: 0; } 

header .gnb { display:block; position: fixed; inset:0 auto auto 0; transform: translate(0, 0); line-height: 1; background: rgba(0, 0, 0, 0.8); width: 100%; height: 100%;  text-transform: uppercase; border-radius: 0px; font-size: 31px; font-weight: 500; z-index: 999; visibility: hidden; } 
header .gnb.on { display: none; position: static; inset: auto auto auto auto; transform: translate(0, 0); background: rgba(255, 255, 255, 0.5); color: #333; backdrop-filter: blur(10px); border-radius: 0 0 0 0; } 

header .gnb::after { display: none; position: static; inset: 70px auto auto 0; content: ""; width: 1200px; height: 0; border-radius: 0 0 10px 10px; background: #fff; z-index: -999; transition: 0.5s; } 

header .gnb.hover::after { height: 0%; width: 0%; padding:0 0 0 0; } 

header .gnb.on::after { display: none; background: #da291c; } 
header .gnb.down { display: none; transform: translate(0, 0); transition: 0s ease; } 

header .gnb.res { color: #fff; backdrop-filter: blur(10px); border-radius: 0 0 0 0; visibility: visible; transition: 1s; } 

header .left { display: flex; flex-direction: column; position: fixed; inset: 50% auto auto 50%; transform: translate(-50%, -50%); display: block; gap: 30px; justify-content: center } 
header .gnb .left>li { position: relative; cursor: pointer; padding: 0 0 30px 0; } 

 
header .right { position: fixed; inset: 10% auto auto 50%; transform: translateX(-50%); display: flex; margin: 0 auto; gap: 10px; padding: 0 0 0 0; justify-content: center; } 
header .smenu { display: none; position: static; inset: 0 auto auto 0; transform: translateX(0%); padding: 10px 0; line-height: 1.5; font-size: 15px; font-weight: 300; z-index: 999; border-radius: 0px; height: 100%; width: 100%; visibility:visible; } 

header .left:hover li .smenu { visibility: visible; transition: 0s 0s; } 

header .right i { font-size: 31px; vertical-align: middle; } 

.mainVisual .video { width: auto; height: 400px; } 

.mainSlider { padding: 170px 0; overflow-x: hidden; } 
.mainSlider h2 { text-align: center; font-family: 'Poiret One', cursive; font-size: 31px; } 
.mainSlider span { display: block; transform: translateY(-100px); opacity: 0; transition: 1.5s; } 
.mainSlider span.on { transform: translateY(0); opacity: 1; } 
.mainSlider h2::after { content: ""; display: block; width: 0; height: 1px; background: #da291c; margin: 20px auto; transition: 1.5s; } 
.mainSlider h2.on::after { width: 150px; } 
.mainSlider p { margin: 0 0 30px 0; text-align: center; font-size: 15px; font-weight: 300; opacity: 0; transition: 2s 0.5s; } 
.mainSlider p.on { margin: 0 0 30px 0; text-align: center; font-weight: 300; opacity: 1; } 

.slider { overflow-x: hidden; } 
.slider figure { width: 0; height: 300px; margin: 0px 20px; overflow-x: hidden; } 


.fixedBg .fixed { padding: 150px 20px; background: url(../img/main_supporters.jpg) no-repeat center center/cover; background-attachment: fixed; color: #fff; } 
.fixedBg h2 { font-size: 21px; margin: 0 0 10px 0; font-weight: 500; } 
.fixedBg h2 strong { font-family: 'Poiret One', cursive; font-weight: 900; } 
.fixedBg p { font-size: 15px; font-weight: 300; } 

.product { padding: 100px 0; position: relative; } 
.product .inner { width: auto; position: relative; overflow: hidden; } 
.product h2 { font-family: 'Poiret One', cursive; text-align: center; font-size: 43px; color: #da291c; margin: 0 0 50px 0; } 
.product .inner>ul { display: flex; justify-content: center; margin: 0 0 30px 0; } 

.product .tMenu { padding: 0 20px; } 
.product .tMenu li { position: relative; width: 150px; padding: 10px 0; text-align: center; border-bottom: 2px solid #f1f1f1; color: #ccc; font-size: 13px; font-weight: 400; cursor: pointer; } 
.product .tMenu li::after { position: absolute; inset: auto auto -2px 0; content: ""; display: block; width: 0; height: 2px; background: #f1f1f1; transition: 0.5s; } 
.product .tMenu li.on::after { width: 100%; background: #da291c } 
.product .tMenu li.on { color: #333; } 

.pSlider figure { width: auto; height: 300px; margin: 0 0 30px 0; overflow-x: hidden; } 
.pSliderWrap { display: flex; flex-direction: column; margin: 0; overflow: hidden; } 
.pSlider { display: none; overflow-x: hidden; } 
.pSlider.on { display: block; } 

.pSliderWrap h3 { font-size: 17px; font-weight: 500; margin: 0 0 10px 0; } 
.pSliderWrap p { font-weight: 300; font-size: 15px; margin: 0 0 15px 0; } 
.pSliderWrap strong { font-weight:500; font-size: 17px; color: #da291c; } 
.pExplain { margin: 0 20px; } 

.pArrows { position: absolute; inset: 52% auto auto 50%; transform: translate(-50%, -50%); font-size: 33px; z-index: 998; color: #999; padding: 0px; } 

.pArrows .left:hover { color: #da291c; transition: 0.5s; } 
.pArrows .right:hover { color: #da291c; transition: 0.5s; } 

.pArrows .left { transform: translateX(-40vw); } 
.pArrows .right { transform: translateX(40vw); } 

.footer { text-transform: uppercase; border-top: 1px solid #ddd; } 

.footer .top { padding: 50px 20px; gap: 30px; } 
.footer .top .left { display: none; } 
.footer .tmenu { display: flex; gap: 30px; } 
.footer .tmenu h3 { margin: 0 0 10px 0; padding: 5px 0 0 0; font-weight: 700; } 
.footer .tmenu dt::before { content: ""; display: block; width: 100px; height: 2px; background: #da291c; } 


.footer h3 { font-weight: 500; } 
.footer .top .right { display: flex; font-size: 19px; } 
.footer .top .service { display: flex; flex-direction: column; gap: 30px; } 
.footer .smenu { font-size: 15px; } 
.sns { display: flex; gap: 5px; } 
.sns i { font-size: 21px; align-items: center; } 


.footer .bottom { padding: 20px 0; background: #da291c; color: #fff; } 
.footer .bottom .inner { display: flex; flex-direction: column; justify-content: space-between; padding: 0 20px; } 
.footer .bottom .menu { display: flex; flex-direction: column; font-size: 13px; font-weight: 300; vertical-align: middle; margin: 0 0 10px 0; } 
.footer .bottom dd~dd::before { display: none; width: 1px; height: 7px; background: #f1f1f1; margin: 0 10px; } 
.footer .bottom p { font-size: 12px; } 

.mbtn i:nth-child(1) { display: block; } 
.mbtn i:nth-child(1).on { display: none; } 
.mbtn i:nth-child(2).on { display: block; } 
 }

 