/* * { border: 1px solid #f00; } */
.Wrap { } 

.container { display: flex; width: 1170px; margin: 0 auto; } 
.inner { width: 1170px; margin: 0 auto; } 

.header { line-height: 150px; } 
.header .container { justify-content: space-between; } 
.gnb ul { display: flex; gap: 40px; font-size: 19px; font-weight: 500; } 
.right { display: flex; gap: 10px; vertical-align: middle; } 
.login i { font-size: 20px; vertical-align: middle; } 

.searchForm input { border: none; border-bottom: 1px solid #999; width: 170px; font-size: 15px; font-weight: 300; padding: 3px 0; } 
.searchForm button { border: none; background: transparent; } 
.searchForm i { font-size: 25px; cursor: pointer; } 
.login i { font-size: 27px; } 

.mainVisual { position: relative; } 
.mainSlider figure { margin: 0 15px; } 
.mainSlider img { border-radius: 50px; } 
.arrows i { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%, -50%); font-size: 40px; background: #f8f8f8; border-radius: 50%; padding: 10px; opacity: 0.7; box-shadow: 2px 2px 6px rgba(0,0,0, 0.2); cursor: pointer; } 
.arrows i:nth-child(1) { margin: 0 0 0 -22vw; } 
.arrows i:nth-child(2) { margin: 0 0 0 22vw; } 

.slick-dots { position: absolute; inset: auto auto 30px 50%; transform: translateX(-50%); display: flex; gap: 10px; } 
.slick-dots li { display:inline-block; margin: 0 3px; width: 12px; height: 12px; border-radius: 50%; background: rgb(180, 180, 180); font-size: 0; } 
.slick-dots button { border: none; background: transparent; } 
.slick-dots .slick-active { background: #37d243; } 

.product { padding: 100px 0; font-family: 'Noto Sans KR', sans-serif; text-align: center; } 
.product h2 { display: inline-block; margin: 0 0 50px 0; font-size: 35px; font-weight: 500; background: #6837f8; border-radius: 50px; color: #fff; padding: 15px 30px; } 
.product strong { font-size: 18px; margin: 0 0 10px 0; } 
.product .price { font-size: 19px; font-weight: 700; } 
.product span { font-family: 'Noto Sans KR', sans-serif; font-weight: 600; } 

.proGrid { display: grid; grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(4, 1fr); grid-row-gap: 50px; grid-column-gap: 30px; } 
.proGrid .img { overflow: hidden; border: 1px solid #ddd; border-radius: 20px; margin: 0 0 20px 0; } 
.proGrid img { transition: 0.5s; } 
.proGrid img:hover { transform: scale(1.1); } 
.proGrid span { font-weight: 400; } 

.brand { padding: 100px 0; } 

.brand .inbox { display: flex; gap: 40px; justify-content: space-between; width: calc(1170px + (100% - 1170px) / 2); margin: 0 0 0 auto; } 

.brand .slogan { display: flex; flex-direction: column; flex: 6; } 
.brand .store { flex: 5; } 
.brand h2 { font-size: 35px; line-height: 1.2; margin: 0 0 10px 0; } 
.brand p { font-size: 18px; font-weight: 300; } 

.brand .boxTop { margin: 0 0 70px 0; } 
.brand .boxBottom { display: flex; gap: 50px; text-align: center; } 
.brand .boxBottom img { margin: 0 0 30px 0; } 
.brand .boxBottom p { font-weight: 500; } 
