.container {
    display: flex;
    width: 1170px;
    margin: 0  auto;
}

.inner {
    width: 1170px;
    margin: 0  auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    color: #f9f9f9;
    width: 100%;
    z-index: 1;
}


header .top .subMenu {    
    display: flex;
    justify-content: end;
    padding: 10px 40px;
    gap: 20px;
    font-size: 14px;
}

header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

header .gnb>ul {
    display: flex;
    font-size: 20px;
    gap: 40px;
}

header .searchBox {
    display: block;
    font-size: 30px;
}

.mainVisual {
    position: relative;
}

.mainVisual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.mainVisual .inner {
    position: absolute;
    top: 0;
    left: calc((100% - 1170px) /2);
    height: 100vh;
}
.mainVisual .inbox {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.mainVisual .inbox span {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background: #000;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.mainVisual .inbox .date {
    font-size: 17px;
    color: #fff;
    margin: 0 0 30px 0;
}

.mainVisual .inbox .tit {
    display: block;
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.mainVisual .inbox h2 {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 50px 0;
}

.mainVisual .inbox a {
    display: inline-block;
    padding: 20px 50px;
    font-size: 18px;
}

.mainVisual .inbox .select {
    display: flex;
    gap: 20px;
}
.mainVisual .inbox .detail {
    border: 2px solid #f7f7f7;
    color: #fff;
    font-weight: 500;
}
.mainVisual .inbox .reserv {
    font-weight: 500;
    background: #f7f7f7;
    border: 2px solid #f7f7f7;
}

.mainVisual .today {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: rgba(255,255,255, 0.4);
}

.mainVisual .today .time {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 1170px;
    margin: 0 auto;
}

.mainVisual .today i {
    font-size: 30px;
}

.mainVisual .today h3 {
    font-weight: 500;
}

.mainVisual .today strong {
    display: block;
}

.mainVisual .today span {
    padding-left: 20px;
    font-weight: 500;
}

.whatsOn {
    padding: 100px 0;
}

.whatsOn h2 {
    font-size: 80px;
    font-weight: 900;
    margin: 0 0 70px 0;
}

.whatsOn h2::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 670px;
    margin: auto 0 auto 40px;
    height: 1px;
    background: #444;
}

.whatsOn .wrapper {
    position: relative;
    background: linear-gradient(to right, #111 50%, #fff 50%);
    height: 600px;
}

.whatsOn .wrapper .inner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: calc((100% - 1170px) /2);
    transform: translateY(-50%);
    color: #fff;
    z-index: 77;
}

.whatsOn .wrapper .inner span {
    font-size: 25px;
    margin: 0 0 10px 0;
    font-weight: 700;

}

.whatsOn .wrapper .inner h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 50px 0;
    height: 120px;
    line-height: 1.45;
    text-shadow: 0 0 3px #000;
}

.whatsOn .wrapper .inner .date {
    color: #666;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.whatsOn .wrapper .inner p {
    color: #666;
    font-size: 20px;
    margin: 0 0 30px 0;
}

.whatsOn .wrapper .inner a {
    display: inline-block;
    border: 2px solid #ddd;
    color: #fff;
    padding: 15px 50px;
    font-weight: 700;

}

.whatsOn .whatSlider {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1000px;
    transform: translateY(-50%);
    z-index: 1;
}

.whatsOn .wrapper .arrows {
    position: absolute;
    bottom: 5%;
    right: 40%;
    font-size: 30px;
    color: #444;
}

.whatsOn .wrapper .arrows i {
    vertical-align: middle;
    cursor: pointer;
}

.whatsOn .wrapper .arrows i:nth-child(1) {
    margin: 0 0 0 60px;
}

.whatsOn .num {
    display: inline-block;
    font-size: 17px;
    vertical-align: middle;
}


.shop {
    padding: 100px 0;
}

.shop .container {
    gap: 70px;
}

.shop h2 {
    position: relative;
    font-size: 80px;
    font-weight: 900;
    margin: 0 0 70px 0;
}

.shop h2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -200%;
    display: inline-block;    
    height: 1px;
    width: 400px;
    background: #111;
}

.shop .tabMenu>ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
}

.shop .tabMenu>ul>li {
    color: #999;
}

.shop .tabMenu>ul>li i {
    vertical-align: middle;
}

.shop .tabMenu>ul>li.on {
    color: #333;
}

.shop .tabMenu>ul>li {
    cursor: pointer;
}

.shop .right .tabContent {
    display: none;
    margin: 0 0 50px 0;

}

.shop .right .tabContent.on {
    display: block;
}

.shop .tabContent>ul {
    display: flex;
    gap: 30px;

}

.shop .right img {
    margin: 0 0 10px 0;
}

.shop .right .detail {
    font-size: 17px;
}

.shop .right .shopping {
    text-align: center;
}

.shop .right a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 15px;
    border: 1px solid #444;
    text-align: center;
}

.shop .right a:hover {
    border: 1px solid #111;
    background: #111;
    color: #fff;
}

.ticket .bookTicket {    
    position: fixed;    
    bottom: 300px;
    right: 100px;
    width: 195px;
    z-index: 999; 
}

.ticket .joinTicket {
    position: fixed;
    bottom: 150px;
    right: 20px;
    width: 195px;
    z-index: 999;    
}

.ticket:hover .joinTicket {
    animation: updown 1s infinite;
}


.ticket:hover .bookTicket {
    animation: rotate 1s infinite;

}

@keyframes updown {
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px); 
    }
    0% {
        transform: translateY(10px);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }
    0% {
        transform: trotate(0deg);
    }
}

.footer {
    background: #111;
    color: #fff;
}

.footer .container {
    justify-content: space-between;
}

.footer .top {
    padding:50px 0;
    border-bottom: 1px solid #333;
}

.footer .top h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.45;
}

.footer .top strong {
    font-size: 15px;
    display: block;
    margin: 0 0 10px 0;
    font-weight: 700;
}

.footer .top p {
    color: #666;
    font-size: 13px;
}

.footer .top dl {
    display: flex;
    gap: 100px;
    color: #999;
}

.footer .ftMenu .sns {
    margin: 0 0 10px 0;
    display: flex;
    gap: 5px;
}

.footer .ftMenu .sns a {
    font-size: 20px;
    display: block;
}

.footer .ftMenu ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    color: #666;
}

.footer .bottom {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    color: #999;
}

.footer .bottom ul {
    display: flex;
    gap: 20px;
}

.footer .bottom strong {
    color: #fff;
}