/* * { border: 1px solid #f00; } */
:root { --mc : #5A739C; } 
.Wrap { } 
.container { display: flex; width: 1170px; margin: 0 auto; } 
.inner { width: 1170px; margin: 0 auto; } 
.pBottom { margin: 0 0 30px 0; } 
.more { display: inline-block; padding: 10px 30px; border: 1px solid rgba(255, 255, 255, 0.5); } 
.name { font-family: 'IBM Plex Sans KR', sans-serif; font-size: 19px; margin: 0 0 10px 0; } 
.tmenu { font-size: 17px; } 
strong { color: #0e2352; font-weight: 600; } 
span { font-weight: 400; } 

.topBanner { padding: 20px 0; background: #f7f7f7; color: #666; cursor: pointer; } 
.topBanner .inner { position: relative; text-align: center; } 
.topBanner h2 { display: inline-block; font-size: 20px; margin: 0 10px 10px 0; }
.topBanner h2::after {content: "\eb36"; display: inline-block; font-family: xeicon; vertical-align: middle; margin: 0 0 0 10px;} 
.topBanner .member { position: absolute; inset: 0 40px auto auto; display: inline-block; padding: 5px 12px; font-size: 12px; font-weight: 300; border: 1px solid #999; } 
.topBanner i { position: absolute; inset: 0 0 auto auto; padding: 3px; } 

.topHeader { line-height: 100px; } 

.topHeader .search { width: 300px; color: #333; } 
.topHeader .search input { width: 200px; padding: 3px 10px; border: none; border-bottom: 1px solid #999; color: #333; } 
.topHeader .search input::placeholder { font-size: 13px; color: #999; } 
.topHeader .search i { font-size: 23px; cursor: pointer; } 
.topHeader .search button { border: none; background: transparent; } 

.topHeader h1 { font-size: 0; } 

.topHeader span { width: 300px; text-align: right; } 
.topHeader .container { justify-content: space-between; } 

.gnb { line-height: 70px; font-size: 18px; justify-content: space-between; } 
.gnb>ul { display: flex; gap: 30px; } 
.gnb .icon { display: flex; gap: 10px; align-items: center; justify-content: right; width: 300px; font-size: 23px; } 

.mainVisual { background: var(--mc); color: #fff; } 

.mainVisual .mainContain { display: flex; position: relative; height: 600px; width: calc(1170px + (100% - 1170px) / 2); margin: 0 0 0 auto; } 

.mainContain .left { flex: 8; width: 100%; height: 100%; } 
.mainContain .slogan { position: absolute; inset: 50% auto auto 0; transform: translateY(-50%); } 
.mainContain h2 { font-size: 52px; margin: 0 0 10px 0; } 
.mainContain p { font-weight: 300; } 

.mainContain .right { flex: 7; } 
.mainContain figure { height: 100%; width: 100%; background: url(../img/23ac1c0123421d14c4bf5229377a2c28_33415.png) no-repeat center center/cover; } 


.renai { padding: 100px 0; text-align: center; } 
.renai h2 { font-size: 40px; margin: 0 0 10px 0; } 
.renai p { font-weight: 300; } 
.renai .p02 { margin: 0 0 30px 0; } 

.renai .bottom { gap: 30px; } 
.renai .picture01 { flex: 5; display: flex; flex-direction: column; gap: 30px; } 
.renai .picture01 figure { width: auto; height: 250px; } 

.picture01 figure:nth-child(1) { background: url(../img/004_cateOverImg_goods.jpg) no-repeat center center/cover; } 
.picture01 figure:nth-child(2) { background: url(../img/004002_cateOverImg_goods.jpg) no-repeat center center/cover; } 

.renai .picture02 { flex: 7; } 
.renai .picture02 figure { width: 100%; height: 100%; background: url(../img/7e12b12def20aee62e2fdc16e46982a0_165113.png)no-repeat center center/cover; } 



.sumSale { padding: 0 0 150px 0; position: relative; width: 1200px; margin: 0 auto; text-align: center; } 
.sumSale .inner { width: 1200px; } 
.sumSale img { border: 1px solid #f1f1f1; margin: 0 0 30px 0; } 
.sumSale h2 { font-size: 40px; margin: 0 0 10px 0; } 
.sumSale p { font-weight: 300; margin: 0 0 50px 0; } 

.sumSlider figure { margin: 0 15px; } 
.sumSlider del { display: inline-block; font-family: 'IBM Plex Sans KR', sans-serif; font-size: 15px; color: #999; } 

.popArrows { position: absolute; inset: 42% auto auto 50%; transform: translate(-50%, -50%); font-size: 60px; color: #999; cursor: pointer; } 
.popArrows i:nth-child(1) { transform: translateX(-620px); } 
.popArrows i:nth-child(2) { transform: translateX(620px); } 


.collection { background: var(--mc); color: #fff; } 

.collection .explain { display: flex; position: relative; height: 600px; width: calc(1170px + (100% - 1170px) / 2); margin: 0 auto 0 0; } 

.explain .left { flex: 7; width: 100%; height: 100%; } 
.explain figure { height: 100%; width: 100%; background: url(../img/b87ac8513ce25b319d5ffe6f55ce3455_181841.jpg) no-repeat center center/cover; } 

.explain .right { flex: 8; text-align: right; } 
.explain .slogan { position: absolute; inset: 50% 0 auto auto; transform: translateY(-50%); } 
.explain h2 { font-size: 52px; margin: 0 0 20px 0; } 
.explain p { font-weight: 300; } 
.explain i { vertical-align: middle; padding: 0 3px; } 

.product { padding: 100px 0; } 
.product h2 { text-align: center; font-size: 40px; margin: 0 0 50px 0; } 
.tabMenu { margin: 0 auto 70px auto; } 
.tabMenu figure { text-align: center; } 
.tabMenu img { cursor: pointer; margin-left: 50px; } 

.tab { position: relative; } 
.tabArrows { position: absolute; inset: 50% auto auto 50%; transform: translate(-50%,-50%); font-size: 40px; cursor: pointer; z-index: 999; } 
.tabArrows i:nth-child(1) { transform: translateX(-600px); } 
.tabArrows i:nth-child(2) { transform: translateX(600px); } 

 
.tabContent { position: relative; } 
.tabContent .content { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 1fr); row-gap: 50px; column-gap: 30px; } 

.tabContent .contentWrap { display: none; } 
.tabContent .contentWrap.on { display: block; } 

.tabContent .img { margin: 0 0 20px 0; border: 1px solid #f1f1f1; } 

.toTop {position: fixed; inset: auto 50px 50px auto; font-size: 40px; color: #fff; background: rgba(0, 0, 0, 0.3); padding: 10px; border-radius: 50%; animation: toTop 2s infinite;}

footer { padding: 50px 0; background: var(--mc); color: #ddd; font-size: 13px; } 
footer .container { justify-content: space-between; } 
footer .left>dl { display: flex; margin: 0 0 5px 0; } 
footer .left dd~dd::before { content: ""; display: inline-block; width: 1px; height: 8px; background: #ddd; margin: 0 5px; } 
footer .right { text-align: right; }
footer span { font-size: 12px;} 